{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% block products_nav %}
    <div>{% include 'includes/products-nav.html' %}</div>
{% endblock %}

<!-- Buildin a space to show Content below the Menu -->
<div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>


<!-- Rendering the Content details page-header -->
<div class="masthead overlay" >
    <div class="container ">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">                
                <h1 class="post-title"></h1>
            </div>
        </div>
    </div>
</div>
<!-- Rendering the Content details content section -->
<div class="container">
    <div class="row">
        <div class="col card mb-4 left top">
            <div class="card-body">
                <p class="card-text ">
                    {{ content.content | safe }}
                </p>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>   
    <a class="nav-link" aria-current="page" href="{% url 'home' %}">
        <h4 class="btn btn-secondary">Back</h4></a>
    
</div>



{% endblock content%}