{% extends "base.html" %}
{% load static %}

{% block products_nav %}
    <div>{% include 'includes/products-nav.html' %}</div>
{% endblock %}

{% block brand_content %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<!-- Content section -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
      {% for item in content %}
        {% if item.carousel_block == 1 %}
          {% if item.image_order == 1 %}
          <div class="card" >
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{ item.button_text }}</a>
            </div>
          </div>
          {% elif item.image.order == 2 %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{ item.button_text }}</a>
            </div>
          </div>
          {% else %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>      
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
      {% for item in content %}
        {% if item.carousel_block == 2 %}
          {% if item.image_order == 1 %}
          <div class="card" >
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>              
            </div>
          </div>
          {% elif item.image.order == 2 %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" target="_blank" rel="nofollow" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>
          </div>
          {% else %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>      
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
      {% for item in content %}
        {% if item.carousel_block == 3 %}
          {% if item.image_order == 1 %}
          <div class="card" >
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>
          </div>
          {% elif item.image.order == 2 %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>
          </div>
          {% else %}
          <div class="card d-none d-md-block">
            <img src="{{ item.content_image.url }}" class="card-img-top" alt="{{ item.image_alt_text }}">
            <div class="card-body">
              <h5 class="card-title">{{item.header | safe}}</h5>
              <p class="card-text">{{item.excerpt | safe}}</p>
              <a href="{% url 'content_detail' item.slug %}" class="btn btn-main hvr-back-pulse">{{item.button_text}}</a>
            </div>      
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Categories section -->
<section id="categories-section" class="align-items-center d-flex">  
  <div class="container">
    <div class="container-fluid mt-5 py-5">
      <div class="row">
        <div class="col-md-8 text-center">
          <h1 class="display-5 logo-font text-black">
            Your Wellness Vitamins and Aromas
          </h1>
        </div>
        <div class="col-md-4 py-2 d-flex justify-content-center">
          <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-main hvr-back-pulse text-uppercase py-3">Shop Now</a>
          </h4>
        </div>
      </div>      
    </div>
    
    <div class="row text-center">
      {% for media in homepage_media %}
      <div class="col-md-6 col-lg-4 px-5 mb-5">
        {% if media.media_id == 1 %}
        <a href="{% url 'products' %}?category={{ media.media_name }}" class="text-decoration-none hvr-shrink">
          <img class="img-fluid rounded-top" src="{{ media.media_image.url }}" alt="{{media_image_alt_text}}">
          <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">{{media.media_text | safe }} </h4>
        </a>
        {% elif media.media_id == 2 %}
        <a href="{% url 'products' %}?category={{ media.media_name }}" class="text-decoration-none hvr-shrink">
          <img class="img-fluid rounded-top" src="{{ media.media_image.url }}" alt="{{media_image_alt_text}}">
          <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">{{media.media_text | safe }} </h4>
        </a>
        {% elif media.media_id == 3 %}
        <a href="{% url 'products' %}?category={{ media.media_name }}" class="text-decoration-none hvr-shrink">
          <img class="img-fluid rounded-top" src="{{ media.media_image.url }}" alt="{{media_image_alt_text}}">
          <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">{{media.media_text | safe }} </h4>
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      <div class="col">
        <a href="" class="text-decoration-none hvr-sink mt-4"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- Displaying a static image of the company values -->
<div class="image-container">
  <img class="card-img-top"
      src="https://res.cloudinary.com/zilvacloud/image/upload/v1662905005/our_wellness_approach_green_c5yoep.jpg" alt="Aden Wellness company values">
</div>
  
{% endblock %}